# Node modules
node_modules/

# Build folders
dist/
build/

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Render cache
.render/